[Unit]
Description=Indicador de metas - Popup automático
After=graphical.target
Requires=graphical.target

[Service]
Type=simple
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/python3 /home/pi/tucano/indicadoresTucanoPopup.py
Restart=always
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/pi/.Xauthority
User=pi

[Install]
WantedBy=graphical.target